<div class="container-fluid" id="home">
        <div class="row">
            <div class="col-md-6">
    <img src="../../assets/office.png" class="figure-img img-fluid rounded" >
    </div>
    <div class="col-md-6">

        <div class="para">
            <h1>Better Choice for<br>become professional</h1>
            <h5>We are inredible team to provide<br>you best service</h5>
              <a class="btn btn-primary" routerLink="../login" role="button">Get Started</a>

            </div>
            </div>
            </div>
            
</div>
